.borderredunten {
    border-bottom: 1px solid red;
}
.logo {
    display: inline-block;
    margin-bottom: -26px;
    position: relative;
}

.nav1box {
    
    height: 75px;
    margin: 10px;

}