.borderredunten {
    border-bottom: 1px solid red;
}
.logo {
    display: inline-block;
    margin-bottom: -28px;
    position: relative;
}


.header {
    box-shadow: 0 2px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 99;
}