



  <div class="example-container">
    <mat-form-field>
        <input matInput name="name" placeholder="Ihr Name">
    </mat-form-field>
  
    <mat-form-field>
      <textarea matInput placeholder="Ihre Nachricht an uns"></textarea>
    </mat-form-field>
    <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Anreise">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Enter your email" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    
  </div>
 
