{{title}}



<form [formGroup]="nameForm" (submit)="sendEmailTest(message)" novalidate>
  <div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Vorname"  formControlName="vorname" [(ngModel)] ="message.vorname">
    <mat-error>Sie müssen einen Vornamen eingeben</mat-error>
  </mat-form-field>
  <mat-form-field>
      <input matInput placeholder="Nachname"  formControlName="nachname" [(ngModel)] ="message.nachname">
      <mat-error>Sie müssen einen Familiennamen eingeben</mat-error>
    </mat-form-field>
  <mat-form-field>
      <input matInput placeholder="Email Adresse" formControlName="email" [(ngModel)] = "message.email">
      <mat-error>Sie müssen eine E-Mail Adresse eingeben eingeben</mat-error>
  </mat-form-field>

  <mat-form-field>
      <input matInput [matDatepicker]="anreise" placeholder="Anreise"  formControlName="anreise"[ngModel] = "message.anreise" (ngModelChange)="setTimeFormat($event)" >
      <mat-datepicker-toggle matSuffix [for]="anreise"></mat-datepicker-toggle>
      <mat-datepicker #anreise></mat-datepicker>
    </mat-form-field>

  <mat-form-field>
    <input matInput  formControlName="message" [(ngModel)] ="message.message">
    <mat-error>Sie müssen einen Namen eingeben</mat-error>
  </mat-form-field>
  <button  mat-raised-button color="primary" type="submit" [disabled]="!nameForm.valid" >Submit</button>
</div>
</form>
<div *ngIf="nameForm.value.vorname">
 
  <div class="example-container">
    <h4>Ihre Daten:</h4>
    <p><strong>Vorname:</strong> {{nameForm.value.vorname}}</p>
    <p><strong>Nachname:</strong> {{nameForm.value.nachname}}</p>
    <p><strong>E-Mail:</strong> {{nameForm.value.email}}</p>
    <p><strong>Nachricht:</strong> {{nameForm.value.message}}</p>
    <p><strong>Anreise:</strong>> {{nameForm.value.anreise | date: fullDate: '' : 'de'}}</p>
  </div>
</div>