{{title}}

<!--<form id="contact-form" method="POST" action="assets/email.php">-->
<!-- <form (submit)="sendEmail(message)">
  <div>
    <label for="name">Name</label>
    <input type="text" name="name" placeholder="Your Name" [(ngModel)]="message.name">
  </div>
  <div>
    <label for="email">Email</label>
    <input type="text" name="email" placeholder="Your Email" [(ngModel)]="message.email">
  </div>
  <div>
    <label for="message">Message</label>
    <textarea rows="6" name="message" [(ngModel)]="message.message"></textarea>
  </div>
  <button type="submit">Send Email</button>
</form> -->
<form (submit)="sendEmail(message)">
<div class="example-container">
    
    <mat-form-field>
        <input matInput name="name" placeholder="Ihr Name" name="name" [(ngModel)]="message.name">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Enter your email" name="email" [(ngModel)]="message.email" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  
    <mat-form-field>
      <textarea matInput placeholder="Ihre Nachricht an uns" name="message" [(ngModel)]="message.message"></textarea>
    </mat-form-field>
    <!-- <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Anreise">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field> -->
    <button mat-raised-button color="primary" type="submit">Send Email</button>
  
    
  </div>
</form>