.logo {
    display: inline-block;
    margin-bottom: -28px;
    position: relative;
}


.header {
    box-shadow: 0 2px rgba(0, 0, 0, 0.2);
    /* position: relative; */
    position: sticky;
    z-index: 99;
}
a {
    font-family: 'Raleway', sans-serif;
    font-size: large;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: bold;
}